.aside-container{
    flex-direction: column;
    width: 12rem;
    height: 100vh;
    background-color: var(--background-color);
    position: fixed;
    z-index: 1;
    padding-top: 6.5rem;
    padding-left: 10px;
    gap: 10px;
}

.nav-link{
    color: var(--text-color-primary);
    padding: 10px;
    text-decoration: none;
    align-items: center;
    gap: 5px;
}

.nav-link:hover{
    color : var(--background-color);
    background-color: #2563eb;
    border-radius: 0 2rem 2rem 0;
}
/* .aside-btn{
    background: none;
    border: none;
    font-size: large;
    font-weight: 700;
    width: 100%;
    padding: 8px 16px;
    text-align: left;
    cursor: pointer;
} */

.active-link {
    color : var(--background-color);
    background-color: #2563eb;
    border-radius: 0 2rem 2rem 0;
}