.archive-app{
  display: flex;
}
.archive-body{
  margin: 1 rem;
}
.archive-notes{
  display: flex;
}
.archive-note-containers{
  width: 300px;
  border: 1px solid gray;
  margin: 30px;
  padding: 10px;
  border-radius: 8px;
  position: relative;
  }
  .archive-note-containers:hover{
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.4);
  }

  .note-title-container{
    border-bottom: 1px solid;
    font-weight: 500;
    padding: 5px;
  }
  .note-note-container{
    padding: 5px;
  }

