.header{
    width: 100vw;
    padding: 1rem;
    background-color: var(--background-color);
    position: fixed;
    z-index: 2;
    border-bottom: 1px solid #d1d5db;
}

.logo{
   width: 3rem;
   height: 3rem;
   border-radius: 50%;
}

.heading-1{
    font-size: 2.5rem;
    color: var(--primary-color);
}

.link{
    text-decoration: none;
    display: flex;
    gap: 8px;
    align-items: center;
}