.nav-container{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 4rem;
    background-color: #a85783;
}
.nav-container >div{
    padding: 1rem 3rem;
    color: black;
}
.link{
    text-decoration: none;
    color: black;
}